#!/bin/bash
# Command line version of qrencode.el.  First argument is printed as
# QRCode.

# Slightly awkward way to ship the lisp code stand-alone.
FILE="$(mktemp --suffix=.sh)"
trap 'rm -rf -- "$FILE"' EXIT
cat > "${FILE}" <<'EOF'
#!!!REPLACEME!!!
EOF

${EMACS:-emacs} ${EMACSARGS:--q} --batch --load "${FILE?}" --eval "(princ (qrencode \"${1/\"/\\\"}\"))"
